body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 1.5;
}

span {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.title_area {
  width: 50vw;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 100vw;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  grid-gap: 4px;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

.number {
  box-sizing: border-box;
  background-color: steelblue;
  border-radius: 4px;
  font-weight: 200;
  font-size: 1.2em;
  color: white;
  /* Center the text: */
  display: flex;
  align-items: center;
  justify-content: center;
}
